/* -----ULTILITÁRIOS----- */
:root{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

/* -----Cabecalho----- */

.BackGround-1{
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/cb17c41d-6a67-4472-8b91-cca977e65276/web/BR-pt-20250505-TRIFECTA-perspective_8e55a375-98c9-421f-8d19-5c4c4773169a_large.jpg 
  );
  background-size: cover;
  height: 100vh;
  margin: 0px;
}

.Cabecaclo-Container{
  align-items: center;
}

.Cabecaclo-Inicio-1{
  width: 100%;
  display: flex;
  place-content: space-between;
  }
  
.Cabecaclo-Inicio-1 h1{
  display: inline;
  color: red;
}

.Cabecaclo-Inicio-2{
  gap: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.Cabecaclo-Inicio-2 h2{
color: white;
background-color: black;
padding: 2px 6px;
border-radius: 4px;
font-size: 14px;
border: solid 1px gray;
}

.Cabecaclo-Inicio-2 a{
background-color: red;
color: white;
text-decoration: none;
border-radius: 4px;
font-size: 14px;
padding:2px 6px;
}

/* -----Cadastro----- */

.Cadastro{
text-align: center;
}

.Cadastro-1{
  color: white;
}

.Cadastro-1 h1{
  font-size: 50px;
}

/* -----Email----- */

.Email{
  color: white;
  margin-top: 30px;
  text-align: center;
}

.Email span{
  display: inline-block;
  background-color: black;
  border: solid 1px gray;
  border-radius: 4px;
  padding: 9px 300px ;
  padding-left: 4px;
  font-size: 15px;
}

.Email a{
  display: inline-block;
  background-color: red;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 20px;  
  margin-bottom: 0px;
}

/* -----BackGround-2----- */

.BackGround-2{
  background-color: black;
  color: white;
  margin: 0px;
}

/* -----Saiba mais----- */

.Saiba-mais{
  display: flex;
  /* flex-wrap: wrap; */
  place-content: center;
  /* border: solid 1px green; */
  margin-bottom: 40px;
}

.Saiba-mais img{
  display: inline-block;
  width: 80px;
  height: 120px;
  margin-top: 20px;
}

.Saiba-mais-descricao{
  margin-top: 20px;
  background-image: linear-gradient(to right, blue, purple);
  border-radius: 10px;
  padding: 8px 24px;
  height: 100px;
  margin-bottom: 40px;
}

.Saiba-mais-descricao h2{
  font-size: 24px;
}

.Saiba-mais-descricao span{
  font-size: 16px;
}

.Saiba-mais-descricao a{
  /* border: solid 1px red; */
  color: white;
  background-color: gray;
  padding: 4px 8px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 0px;
}

/* -----Em-alta----- */

.Em-alta-Filmes{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  place-content: center;
}

.Em-alta-Filmes img {
  border-radius: 10px;
}