/* -----ULTILITÁRIOS----- */
body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7
}

/* -----Cabecalho----- */


.Cabecaclo-Container{
  align-items: center;
  padding: 10px;
}

.Cabecaclo-Inicio-1{
  background-color: green;
  width: 100%;
  display: flex;
  place-content: space-between;
  }
  
.Cabecaclo-Inicio-1 h1{
  display: inline;
  color: red;
  border: solid 1px;
}

.Cabecaclo-Inicio-2{
  gap: 20px;
  padding: 20px;
  display: flex;
  border: solid 1px;
}
  


.Cabecaclo-Inicio-2 h2{
color: white;
background-color: black;
padding: 2px 6px;
border-radius: 4px;
font-size: 14px;

}

.Cabecaclo-Inicio-2 a{
background-color: red;
color: white;
text-decoration: none;
border-radius: 4px;
font-size: 14px;
padding: 2px 6px ;
}